@inherits SearchBoxBase

<form class="form-inline" @onsubmit="OnSearchSubmit">
    <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" @bind-value="SearchText">
    </div>
</form>